.login {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    rgba(171, 172, 161, 0.62),
    rgba(255, 204, 241, 0.466)
  ),
  url("https://presidencyuniversity.in/content/uploads/2017/07/presidency-university-campus-Infrastructure.jpg");
background-repeat: no-repeat;
background-size: cover;  
}

.login h6 {
  color: #000;
  font-size: xx-large;
  text-align: center;
  text-transform: uppercase;
}

.login .formContainer{
  width: 50vw;
  box-shadow: 4px 6px 6px #aaa;
  background-color: #fff;
  padding: 2rem;
  
}

.login #loginForm {
  /* width: 30vw; */
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2rem;
}

.login #loginForm .row {
  margin: 0;
}

.login .loginImg{
  width: auto;
  height: 35vh;
}

.login .linkMessage {
  margin-top: 1rem;
  font-size: smaller;
}

.login .linkMessage a{
  color: black;
  text-decoration: none;
}

.login .linkMessage .material-icons{
  font-size: small;
}

.login .material-icons{
  margin: 0 0.5rem;
}

.login .required{
  color: rgb(250, 73, 102);
}